<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NavigateWikipediaSuite">
  <test name="NavigateWikipediaTest">
    <classes>
      <class name="com.jpablo.selenium.NewProjectSeleniumMaven.NavigateWikipedia"/>
    </classes>
  </test> <!-- Test -->
  <test name="WordsTest">
    <classes>
      <class name="com.jpablo.selenium.NewProjectSeleniumMaven.WordsFile" /> 
    </classes>
  </test>
  <test name="MainWikipediaTest">
  	<classes>
  		<class name="com.jpablo.selenium.NewProjectSeleniumMaven.MainWikipedia" />
  	</classes>
  </test>
  <test name="SearchWikipediaTest">
  	<classes>
  		<class name="com.jpablo.selenium.NewProjectSeleniumMaven.SearchWikipedia" />
  	</classes>
  </test>
</suite> <!-- Suite -->
